* {
	box-sizing: border-box;
}

body {
  margin: 0;
  /*background-color: rgba(217, 41, 39, .1);*/
 /* background-color: rgba(230, 225, 98, .1);*/
  font-family: 'PT Sans', sans-serif;
 background-color: rgba(230, 225, 98, .3);
background-image: radial-gradient(rgba(230, 225, 98, .3) 15%, transparent 16%),
radial-gradient(rgba(230, 225, 98, .3) 15%, transparent 16%);
background-size:60px 60px;
background-position: 0 0, 30px 30px;
}


#edamam-badge {
	display: none;
}


a {
	text-decoration: none;
}

.youTubeLinks {
	text-align: center;
	/*color: rgba(0, 141, 43, .9);*/
	/*color: rgba(18, 124, 166, .9);*/
	color: rgba(159, 105, 240, .5);
	/*color: black;*/
}

.youTubeLinks:hover {
	color: rgba(159, 105, 240, .9);
}

.youTubeContainer {
	text-align: center;
}

.column {
	width: 30%;
	margin: 1.5%;
	padding: 2%;
	float: left;

	
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


h1 {
	text-align: left;
	font-size: 3em;
	font-family: 'Amatic SC', cursive;
	margin-left: 2%;
    margin-top: 1%;
    color: rgba(159, 105, 240, .5);
    display: inline-block;
    border: 2px solid white;
    
}

.fourInTitle {
	
	/*color: rgba(260, 30, 240, .5);*/
	color: black;
}

h2 {
	text-align: center;
	/*color: rgba(217, 41, 39, .7);*/
	color: rgba(240, 159, 32, .9);
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

h3 {
	text-align: center;
	/*color: black;*/
	font-weight: 900;
	font-size: 1.3em;
	color: rgba(159, 105, 240, .5);
	/*color: rgba(0, 141, 43, .9);*/
	/*color: rgba(18, 124, 166, .9);*/
	font-family: 'Raleway', sans-serif;
}

h3:hover {
	color: rgba(159, 105, 240, .9);
}

h4 {
	color: black;
	/*color: rgba(159, 105, 240, .9);*/
	/*color: rgba(240, 159, 32, .5);*/
	/*color: red;*/
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}

#restaurantResults {
	margin-left: 0px;
	margin-right: 0px;
}

.column2 {
	/*background-color: rgba(230, 225, 98, .8);*/
}

button {
    background-color: rgba(159, 105, 240, .5);
    border-radius: 4px;
    box-shadow: 0 5px 0 rgba(159, 105, 240, .9);
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

button:active {
	box-shadow: 0 2px 0 rgba(159, 105, 240, .9);
    transform: translateY(3px);
}

.hover{
	transition:all .3s ease-out;
}

.hover:hover {
	/*background-color: rgba(230, 225, 98, .3);*/
	/*background-color: rgba(240, 159, 32, .3);*/
	background-color: white;
	box-shadow: 0 2px 0 rgba(159, 105, 240, .9);
	transform:translate(0px,-10px);

}


.inputGroup {
	text-align: center;
	margin-bottom: 10%;
}

.form {
	text-align: center;
}

label {
	display: block;
	width: 15%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
}

input {
	width: 100%;
	height: 4vh;
	font-size: 1em;
	border: .5px solid rgba(159, 105, 240, .3);
}

.labelText {
	color: black;
	font-size: 1.0em;
	font-family: 'Raleway', sans-serif;
}

::placeholder {
	color: lightgrey;
}

.moodInTitle {
	color: rgba(240, 159, 32, .9);
}

img {
	width: 100%;
}

@media only screen and (max-width: 720px) {
	
	.column {
		width: 100%;
		
	}

	img {
		width: 50%;
	}

	.hover {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	}
